@model KurbSide.Models.Member
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-sm-center">Welcome, @Model.FirstName</h5>
        <p class="card-text text-sm-center">Shopping from <span class="text-primary">@Model.Street @Model.StreetLn2 @Model.City, @Model.ProvinceCodeNavigation.FullName</span>, Change in <a asp-area="Identity" asp-page="/Account/Manage/MemberProfile">Account Settings</a></p>
    </div>
</div>
<br/>