@using KurbSide.Utilities
@{
    var loggedInType = TempData["loggedInType"];
    Business business = new Business();
    Member member = new Member();

    switch ((KSUserUtilities.AccountType) loggedInType)
    {
        case KSUserUtilities.AccountType.MEMBER:
            member = (Member) TempData["loggedInMember"];
            break;
        case KSUserUtilities.AccountType.BUSINESS:
            business = (Business) TempData["loggedInBusiness"];
            break;
    }

    var notificationCount = TempData["notificationCount"];
}

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <partial name="_LoginPartial"/>
    @switch ((KSUserUtilities.AccountType) loggedInType)
    {
        case KSUserUtilities.AccountType.VISITOR:
        {
            break;
        }
        case KSUserUtilities.AccountType.MEMBER:
        {
            <ul id="navbar-member-links" class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Store" asp-action="Index">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="myOrders" asp-area="Identity" asp-page="/Account/Manage/Orders">My Orders</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Notifications" class="nav-link text-dark" id="navbar-notifications">Notifications <span class="badge badge-primary">@((int)notificationCount)</span></a>
                </li>
            </ul>
            break;
        }
        case KSUserUtilities.AccountType.BUSINESS:
        {
            <ul id="navbar-business-links" class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Business" asp-action="Index">
                        <strong>@business.BusinessName</strong>
                        @{
                            var openForBusiness = (string) TempData["openForBusiness"];
                            if (openForBusiness.StartsWith("Open"))
                            {
                                <span title="Accepting Orders" class=" badge badge-success">Accepting Orders</span>
                            }
                            else
                            {
                                <span title="Not Accepting Orders" class="badge badge-danger">Closed</span>
                            }
                        }
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Business" asp-action="Index">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Business" asp-action="Catalogue" id="navbar-catalogue">Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" id="businessOrders" asp-controller="Business" asp-action="Orders">
                        Orders
                        @{
                            var pendCount = business.Order.Count(o => new[] {0}.Contains(o.Status));
                            var orderCount = business.Order.Count(o => new[] {1, 2, 3}.Contains(o.Status));

                            if (pendCount > 0)
                            {
                                <span class="badge badge-secondary">@((int) pendCount) Pending</span>
                            }
                            if (orderCount > 0)
                            {
                                <span class="badge badge-primary">@((int) orderCount) Open</span>
                            }
                        }
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Notifications" class="nav-link text-dark" id="navbar-notifications">Notifications <span class="badge badge-primary">@((int)notificationCount)</span></a>
                </li>
            </ul>
            break;
        }
    }
</div>