@model IEnumerable<Tuple<Business, double>>
@{
    ViewData["Title"] = "Stores";

    var rawFilter = (string)TempData["catalogueFilter"];
    var rawMd = (int)TempData["md"];

    var activeFilter = "";
    var md = 25;

    if (rawMd != null)
    {
        md = rawMd;
    }
    if (rawFilter != null)
    {
        activeFilter = rawFilter;
    }
}
<link href="~/css/Store/BusinessListings.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col">
            <vc:member-head />
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="card">
                <div class="row card-body">
                    <form method="POST" class="col w-auto" asp-controller="Store" asp-action="Index">
                        <div class="col input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-dark bg-white border-dark">Show me stores within </span>
                            </div>
                            <input type="number" id="md" name="md" class="form-control border-secondary" placeholder="@md" value="@md" onchange="submit()">
                            <input type="hidden" id="filter" name="filter" value="@activeFilter">
                            <div class="input-group-append">
                                <span class="input-group-text text-dark bg-white border-dark"> kilometers (km)</span>
                            </div>
                        </div>
                    </form>
                    <form method="POST" class="col w-auto" id="searchFrm" asp-controller="Store" asp-action="Index">
                        <div class="col input-group input-group-sm">
                            <input type="text" id="filter2" name="filter" class="form-control border-secondary" placeholder="Search Stores" value="@activeFilter">
                            <input type="hidden" id="md2" name="md" value="@md">
                            <div class="input-group-append">
                                <input type="submit" class="input-group-text btn-dark text-light bg-dark border-dark" id="btnGroupAddon" value="Search" />
                            </div>
                            @if (!string.IsNullOrWhiteSpace(activeFilter))
                            {
                                <div class="input-group-append">
                                    <button class="input-group-text btn btn-dark text-light bg-danger border-dark" id="rstbtn">Reset</button>
                                </div>
                            }
                        </div>
                        <script src="~/lib/jquery/dist/jquery.min.js"></script>
                        <script>
                            $('#rstbtn').on('click', function () { $('#filter2').val(""); $("#searchFrm").submit(); })
                        </script>
                    </form>
                </div>
            </div>
            <br />
            <style>
                .card-columns {
                    column-count: 3;
                }
            </style>
            @if (!Model.Any())
            {
                <div class="card">
                    <span class="card-body"><small>No Stores Found, Please refine your search or distance.</small></span>
                </div>
            }
            <div class="card-columns">
                @foreach (var business in Model)
                {
                    <div class="card">
                        <div class="card-body text-center" style="width: 250px">
                            @if (business.Item1.LogoLocation == null)
                            {
                                <img alt="No Logo Available For @business.Item1.BusinessName" class="card-img-top mx-auto align-self-center" src="~/android-chrome-512x512.png" style="width: 100px; height: 100px; margin: .5em;" />
                            }
                            else
                            {
                                <img alt="@business.Item1.LogoLocation Logo" class="card-img-top mx-auto align-self-center" src="@business.Item1.LogoLocation" style="width: 100px; height: 100px; margin: .5em;" />
                            }
                            <h5 class="card-title">@business.Item1.BusinessName</h5>
                            <p class="card-text">
                                <small>@business.Item1.Street, @business.Item1.City</small>
                            </p>
                            <p class="card-text">
                                <small class="badge badge-primary">@Math.Round(business.Item2, 1)km</small>
                                @{
                                    var businessStatus = KurbSide.Utilities.KSStoreUtilities.CheckIfOpenForBusiness(business.Item1.BusinessHours, DateTime.Now.DayOfWeek);

                                    if (businessStatus.StartsWith("Open"))
                                    {
                                        <small class="badge badge-success">@businessStatus</small>
                                    }
                                    else
                                    {
                                        <small class="badge badge-danger">@businessStatus</small>
                                    }
                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Catalogue" asp-route-id="@business.Item1.BusinessId" class="btn btn-block">Visit Store</a>
                        </div>
                    </div>
                }
            </div>
            @*<div class="card">
            <div class="card-body">
                @if (Model.Count() <= 0)
                {
                    <span class="card">
                        <span class="card-body"><small>No Stores Found, Please refine your search or distance.</small></span>
                    </span>
                }
                @foreach (var business in Model)
                {
                    <a asp-action="Catalogue" asp-route-id="@business.Item1.BusinessId" class="list-group-item list-group-item-action flex-column align-items-start">
                        <table class="table table-borderless">
                            <tr>
                                <td class="align-middle">
                                    @if (business.Item1.LogoLocation == null)
                                    {
                                        <img alt="No Logo Available For @business.Item1.BusinessName" class="card-img-top mx-auto" src="~/android-chrome-512x512.png" style="width: 100px; height: 100px; margin: 10px 0 0 0;" />
                                    }
                                    else
                                    {
                                        <img alt="@business.Item1.LogoLocation Logo" class="card-img-top mx-auto" src="@business.Item1.LogoLocation" style="width: 100px; height: 100px; margin: 10px 0 0 0;" />
                                    }
                                </td>
                                <td class="align-middle text-right">
                                    @business.Item1.BusinessName
                                    <br />
                                    <small>@business.Item1.Street, @business.Item1.City</small>
                                    <br />
                                    <small class="badge badge-primary">@Math.Round(business.Item2, 1)km</small>
                                    <small class="badge badge-success">Open Until XX:XX</small>
                                </td>
                            </tr>
                        </table>
                    </a>
                }
            </div>
        </div>*@
        </div>
        <vc:cart />
    </div>
</div>