@*@model IEnumerable<Business>*@
@*@using KurbSide.Views.Store*@
@*@model KurbSide.Views.Store.BusinessListing*@
@model IEnumerable<Tuple<Business, float>>
@{
    ViewData["Title"] = "Stores";
}
<link href="~/css/Store/BusinessListings.css" rel="stylesheet" />

<div class="container">
    <div class="row">

        <div class="col-lg">

            <div class="card">
                <div class="card-body">
                    @foreach (var business in Model)
                    {
                        <a asp-action="ViewCatalogue" asp-route-id="@business.Item1.BusinessId" class="list-group-item list-group-item-action flex-column align-items-start">
                            <table class="table table-borderless">
                                <tr>
                                    <td class="align-middle">
                                        @if (business.Item1.LogoLocation == null)
                                        {
                                            <img alt="No Logo Available For @business.Item1.BusinessName" class="card-img-top mx-auto" src="~/android-chrome-512x512.png" style="width: 100px; height: 100px; margin: 10px 0 0 0;" />
                                        }
                                        else
                                        {
                                            <img alt="@business.Item1.LogoLocation Logo" class="card-img-top mx-auto" src="@business.Item1.LogoLocation" style="width: 100px; height: 100px; margin: 10px 0 0 0;" />
                                        }
                                    </td>
                                    <td class="align-middle">
                                        @business.Item1.BusinessName
                                        <br />
                                        <small>@business.Item1.Street, @business.Item1.City</small>
                                        <br />
                                        <small class="badge badge-primary">@Math.Round(business.Item2,1)km</small>
                                        <small class="badge badge-success">Open Until XX:XX</small>
                                    </td>
                                    @*<td class="align-middle">
                                        @business.Item2.ToString()
                                    </td>*@
                                </tr>
                            </table>
                        </a>
                    }
                </div>
            </div>

        </div>

        <div class="col-sm-3">
            <div class="card">
                <span class="card-body"><small>Cart Placeholder</small></span>
            </div>
        </div>
    </div>
</div>