@*@model IEnumerable<Business>*@
@using KurbSide.Views.Store
@model KurbSide.Views.Store.BusinessListing
@{
    ViewData["Title"] = "Stores";

    //var rawCategories = (IEnumerable<string>)TempData["itemCategories"];
    //var rawFilter = (string)TempData["catalogueFilter"];

    //var categories = new List<string>();
    //var activeFilter = "";

    //var page = (int)TempData["currentPage"];
    //var perPage = (int)TempData["perPage"];
    //var totalPage = (int)TempData["totalPage"];
    //var hasNext = (bool)TempData["hasNextPage"];
    //var hasPrev = (bool)TempData["hasPrevPage"];

    //if (rawCategories != null)
    //{
    //    categories.AddRange(rawCategories);
    //}
    //if (rawFilter != null)
    //{
    //    activeFilter = rawFilter;
    //}
}
@for (int i = 0; i < Model.Businesses.Count(); i++)
{
    <p>
        @if (Model.Businesses.ElementAt(i).LogoLocation == null)
        {
        <img alt="No Logo Available For @Model.Businesses.ElementAt(i).BusinessName" class="card-img-top mx-auto" src="~/android-chrome-512x512.png" style="width: 100px; height: 100px; margin: 10px 0 0 0;" />
        }
        else
        {
        <img alt="@Model.Businesses.ElementAt(i).LogoLocation Logo" class="card-img-top mx-auto" src="@Model.Businesses.ElementAt(i).LogoLocation" style="width: 100px; height: 100px; margin: 10px 0 0 0;" />
        }
        <b>@Model.Businesses.ElementAt(i).BusinessName</b>
        @Model.Businesses.ElementAt(i).Street
        @Model.DistanceToBusiness.ElementAt(i)
        <a asp-action="ViewCatalogue" asp-route-id="@Model.Businesses.ElementAt(i).BusinessId">LINK TO CATALOGUE</a>
    </p>
}