@model IEnumerable<Tuple<Business, double>>
@{
    ViewData["Title"] = "Stores";

    var rawFilter = (string) TempData["catalogueFilter"];
    var rawMd = (int) TempData["md"];

    var activeFilter = "";
    var md = 25;

    if (rawMd != null)
    {
        md = rawMd;
    }
    if (rawFilter != null)
    {
        activeFilter = rawFilter;
    }
}
<link href="~/css/Store/BusinessListings.css" rel="stylesheet"/>
<div class="container">
    <div class="row">
        <div class="col">
            <vc:member-head/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="card">
                <div class="row card-body">
                    <form method="POST" class="col w-auto" asp-controller="Store" asp-action="Index">
                        <div class="col input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-dark bg-white border-dark">Show me stores within </span>
                            </div>
                            <input type="number" id="md" name="md" class="form-control border-secondary" placeholder="@md" value="@md" onchange="submit()">
                            <input type="hidden" id="filter" name="filter" value="@activeFilter">
                            <div class="input-group-append">
                                <span class="input-group-text text-dark bg-white border-dark"> kilometers (km)</span>
                            </div>
                        </div>
                    </form>
                    <form method="POST" class="col w-auto" id="searchFrm" asp-controller="Store" asp-action="Index">
                        <div class="col input-group input-group-sm">
                            <input type="text" id="filter2" name="filter" class="form-control border-secondary" placeholder="Search Stores" value="@activeFilter">
                            <input type="hidden" id="md2" name="md" value="@md">
                            <div class="input-group-append">
                                <input type="submit" class="input-group-text btn-dark text-light bg-dark border-dark" id="btnGroupAddon" value="Search"/>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(activeFilter))
                            {
                                <div class="input-group-append">
                                    <button class="input-group-text btn btn-dark text-light bg-danger border-dark" id="rstbtn">Reset</button>
                                </div>
                            }
                        </div>
                        <script src="~/lib/jquery/dist/jquery.min.js"></script>
                        <script>
                            $('#rstbtn').on('click', function () { $('#filter2').val(""); $("#searchFrm").submit(); })
                        </script>
                    </form>
                </div>
            </div>
            <br/>
            <style>
                    .card-columns {
                        -webkit-column-break-inside: avoid-region;
                    }

                    .card-columns .card {
                        display: block;
                    }

                .business {
                    margin: 1% !important;
                    flex: 1 1 30%;
                    min-width: 250px;
                }
            </style>
            @if (!Model.Any())
            {
                <div class="card">
                    <span class="card-body">
                        <small>No Stores Found, Please refine your search or distance.</small>
                    </span>
                </div>
            }

            <div class="d-flex flex-wrap justify-content-center business-columns">
                @{
                    Random random = new Random();
                }
                @foreach (var business in Model)
                {
                    int bbbScore = random.Next(0, 100);
                    <div id="businessListing-@business.Item1.BusinessName" class="card business" style="margin: auto; margin-bottom: 1em">

                        <div id="BBBGrade" style="position: absolute; right: 5px; width: 50px; height: 80px; padding: 5px;">
                            @if (bbbScore >= 90)
                            {
                                <img class="zoom" alt="@business.Item1.BusinessName-BBBCertification" src="img/BBBAccredited.svg" style="width: 100%; height: 100%; opacity: 0.75; margin-bottom: 0 !important" />
                            }
                            @*<div class="badge badge-info" style="width: 100%; margin: 5px 0 0 -5px; opacity: 0.75; font-size: 10px"><span>BBB: X</span></div>*@
                    <style>
                        .bbb {
                            width: 100%;
                            margin: 0;
                            opacity: 0.75;
                            font-size: 9px
                        }
                    </style>
                            @{
                                if (bbbScore < 60)
                                {
                                    <span class="badge badge-danger bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: F</span>
                                }
                                else if (bbbScore < 64)
                                {
                                    <span class="badge badge-danger bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: D-</span>
                                }
                                else if (bbbScore < 67)
                                {
                                    <span class="badge badge-danger bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: D</span>
                                }
                                else if (bbbScore < 70)
                                {
                                    <span class="badge badge-danger bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: D+</span>
                                }
                                else if (bbbScore < 74)
                                {
                                    <span class="badge badge-warning bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: C-</span>
                                }
                                else if (bbbScore < 77)
                                {
                                    <span class="badge badge-warning bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: C</span>
                                }
                                else if (bbbScore < 80)
                                {
                                    <span class="badge badge-warning bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: C+</span>
                                }
                                else if (bbbScore < 84)
                                {
                                    <span class="badge badge-warning bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: B-</span>
                                }
                                else if (bbbScore < 87)
                                {
                                    <span class="badge badge-success bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: B</span>
                                }
                                else if (bbbScore < 90)
                                {
                                    <span class="badge badge-success bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: B+</span>
                                }
                                else if (bbbScore < 94)
                                {
                                    <span class="badge badge-success bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: A-</span>
                                }
                                else if (bbbScore < 97)
                                {
                                    <span class="badge badge-success bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: A</span>
                                }
                                else
                                {
                                    <span class="badge badge-success bbb"><abbr title="The Better Business Bureau has been helping people find businesses, brands, and charities they can trust.">BBB</abbr>: A+</span>
                                }
                            }
                        </div>
                        <div class="card-body text-center" style="overflow: hidden; margin:auto; display: inline-flex; justify-content: center; align-items: center">
                            <div>
                                @if (business.Item1.LogoLocation == null)
                                {
                                    <div style="height: 100px; width: 100px; margin: auto">
                                        <img alt="No Logo Available For @business.Item1.BusinessName" class="card-img-top mx-auto align-self-center" src="~/android-chrome-512x512.png" style="width: 100%; height: 100%; object-fit: scale-down;"/>
                                    </div>
                                }
                                else
                                {
                                    <div style="height: 100px; width: 100px; margin: auto">
                                        <img alt="@business.Item1.LogoLocation Logo" class="card-img-top mx-auto align-self-center" src="@business.Item1.LogoLocation" style="width: 100%; height: 100%; object-fit: scale-down;"/>
                                    </div>
                                }
                                <h5 class="card-title ellipsisForLongText" title="@business.Item1.BusinessName" style="width: 225px;">@business.Item1.BusinessName</h5>
                                <p class="card-text">
                                    <small>@business.Item1.Street, @business.Item1.City</small>
                                </p>
                                <p class="card-text">
                                    <small class="badge badge-primary">@Math.Round(business.Item2, 1)km</small>
                                    <br/>
                                    @{
                                        var businessStatus = KurbSide.Utilities.KSStoreUtilities.CheckIfOpenForBusiness(business.Item1.BusinessHours, DateTime.Now.DayOfWeek);

                                        if (businessStatus.StartsWith("Open"))
                                        {
                                            <small class="badge badge-success">@businessStatus</small>
                                        }
                                        else
                                        {
                                            <small class="badge badge-danger">@businessStatus</small>
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a id="view-@(business.Item1.BusinessName)-catalogue" asp-action="Catalogue" asp-route-id="@business.Item1.BusinessId" class="btn btn-block">Visit Store</a>
                        </div>
                    </div>
                }
            </div>

            @*<div class="card-columns">
                    @foreach (var business in Model)
                    {
                        <div id="businessListing-@business.Item1.BusinessName" class="card">
                            <div class="card-body text-center" style="width: 250px; height: 260px; overflow: hidden; margin:auto">
                                @if (business.Item1.LogoLocation == null)
                                {
                                    <img alt="No Logo Available For @business.Item1.BusinessName" class="card-img-top mx-auto align-self-center" src="~/android-chrome-512x512.png" style="width: 100px; height: 100px; margin: .5em;" />
                                }
                                else
                                {
                                    <img alt="@business.Item1.LogoLocation Logo" class="card-img-top mx-auto align-self-center" src="@business.Item1.LogoLocation" style="width: 100px; height: 100px; margin: .5em;" />
                                }
                                <h5 class="card-title ellipsisForLongText" style="width: 225px;">@business.Item1.BusinessName</h5>
                                <p class="card-text">
                                    <small>@business.Item1.Street, @business.Item1.City</small>
                                </p>
                                <p class="card-text">
                                    <small class="badge badge-primary">@Math.Round(business.Item2, 1)km</small>
                                    @{
                                        var businessStatus = KurbSide.Utilities.KSStoreUtilities.CheckIfOpenForBusiness(business.Item1.BusinessHours, DateTime.Now.DayOfWeek);

                                        if (businessStatus.StartsWith("Open"))
                                        {
                                            <small class="badge badge-success">@businessStatus</small>
                                        }
                                        else
                                        {
                                            <small class="badge badge-danger">@businessStatus</small>
                                        }
                                    }
                                </p>
                            </div>
                            <div class="card-footer">
                                <a id="view-@(business.Item1.BusinessName)-catalogue" asp-action="Catalogue" asp-route-id="@business.Item1.BusinessId" class="btn btn-block">Visit Store</a>
                            </div>
                        </div>
                    }
                </div>*@
            @*<div class="card">
                    <div class="card-body">
                        @if (Model.Count() <= 0)
                        {
                            <span class="card">
                                <span class="card-body"><small>No Stores Found, Please refine your search or distance.</small></span>
                            </span>
                        }
                        @foreach (var business in Model)
                        {
                            <a asp-action="Catalogue" asp-route-id="@business.Item1.BusinessId" class="list-group-item list-group-item-action flex-column align-items-start">
                                <table class="table table-borderless">
                                    <tr>
                                        <td class="align-middle">
                                            @if (business.Item1.LogoLocation == null)
                                            {
                                                <img alt="No Logo Available For @business.Item1.BusinessName" class="card-img-top mx-auto" src="~/android-chrome-512x512.png" style="width: 100px; height: 100px; margin: 10px 0 0 0;" />
                                            }
                                            else
                                            {
                                                <img alt="@business.Item1.LogoLocation Logo" class="card-img-top mx-auto" src="@business.Item1.LogoLocation" style="width: 100px; height: 100px; margin: 10px 0 0 0;" />
                                            }
                                        </td>
                                        <td class="align-middle text-right">
                                            @business.Item1.BusinessName
                                            <br />
                                            <small>@business.Item1.Street, @business.Item1.City</small>
                                            <br />
                                            <small class="badge badge-primary">@Math.Round(business.Item2, 1)km</small>
                                            <small class="badge badge-success">Open Until XX:XX</small>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        }
                    </div>
                </div>*@
        </div>
        <vc:cart/>
    </div>
</div>