@model IEnumerable<Item>
@{
    ViewData["Title"] = "Business Catalogue";

    var rawCategories = (IEnumerable<string>)TempData["itemCategories"];
    var rawFilter = (string)TempData["catalogueFilter"];

    var categories = new List<string>();
    var activeFilter = "";

    var page = (int)TempData["currentPage"];
    var perPage = (int)TempData["perPage"];
    var totalPage = (int)TempData["totalPage"];
    var hasNext = (bool)TempData["hasNextPage"];
    var hasPrev = (bool)TempData["hasPrevPage"];

    if (rawCategories != null)
    {
        categories.AddRange(rawCategories);
    }
    if (rawFilter != null)
    {
        activeFilter = rawFilter;
    }
}
<style>
    .barcode {
        height: 1.5em;
        width: 6em;
        margin-bottom: .2em;
        image-rendering: auto;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
    }

    .qrcode {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: .2em;
        image-rendering: auto;
        image-rendering: -moz-crisp-edges;
        /*image-rendering: pixelated;*/
    }

    .none {
        display: none;
        height: 0;
        height: 0;
    }

    .btn-width {
        min-width: 6em;
    }

    .btn-filter {
        min-width: 10em;
    }
</style>

<vc:business-head />

<div class="card">
    <div class="card-body row">
        <div class="col">
            <div class="btn-group btn-group-sm" style="flex-wrap: wrap; ">
                <a class="btn btn-sm btn-dark btn-filter rounded" style="margin:0px 8px 3px 0px;" asp-action="Catalogue" asp-route-perPage="@(perPage)">@((activeFilter!="")? "Clear Filter" : "Filter By Category") </a>
                @foreach (string category in categories)
                {
                    <a class="btn btn-sm btn-light border-secondary rounded @(category.Equals(activeFilter)? "active" : null)" style="margin:1px 1px 3px 1px;" asp-route-filter="@category" asp-route-perPage="@(perPage)">@category</a>
                }
                @if (categories.Count <= 0)
                {
                    <span class="btn btn-sm btn-outline-light active border-secondary rounded" style="margin:1px 1px 3px 1px; opacity: 0.50;">No Categories</span>
                }
            </div>
        </div>
        <form class="col" method="GET" asp-action="Catalogue">
            <div class="input-group input-group-sm">
                <input type="text" id="filter" name="filter" class="form-control border-secondary" placeholder="Search Items" value="@activeFilter">
                <div class="input-group-append">
                    <input type="submit" class="input-group-text btn-dark text-light bg-dark border-dark" id="btnGroupAddon" value="Search" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm">
            <thead class="">
                <tr>
                    @*<th scope="col">
                            @Html.DisplayNameFor(modelItem => modelItem.ItemId)
                        </th>*@
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.ItemName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.Price)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.Category)
                    </th>
                    @*<th scope="col">
                            @Html.DisplayNameFor(modelItem => modelItem.Details)
                        </th>*@
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.Sku)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.Upc)
                    </th>
                    <th scope="col">
                        <a asp-controller="business" asp-action="addItem" class="btn btn-sm btn-success btn-width" id="catalogue-AddItem">New Item</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item item in Model)
                {
                    <tr>
                        @*<td class="align-middle">
                                @item.ItemId
                            </td>*@
                        <td class="align-middle" id="catalogue-allItems">
                            @item.ItemName
                        </td>
                        <td class="align-middle">
                            $@item.Price
                        </td>
                        <td class="align-middle">
                            @item.Category
                        </td>
                        @*<td class="align-middle">
                                @item.Details
                            </td>*@
                        <td class="align-middle">
                            <img class="@(item.Sku == null ? "none":"qrcode")" src="https://bwipjs-api.metafloor.com/?bcid=datamatrix&text=@item.Sku" />
                            @item.Sku
                        </td>
                        <td class="align-middle">
                            <div class="@(item.Upc == null ? "none":null)"></div>

                            @if (item.Upc != null) switch (item.Upc.Length)
                                {
                                    case 13:
                                        <img class="barcode" src="https://bwipjs-api.metafloor.com/?bcid=ean13&text=@item.Upc" />
                                        break;
                                    default:
                                        <img class="barcode" src="https://bwipjs-api.metafloor.com/?bcid=upca&text=@item.Upc" />
                                        break;
                                }
                            <br />@item.Upc
                        </td>
                        <td class="align-middle">
                            <div class="btn-group-vertical btn-group-sm">
                                <a class="btn btn-width btn-warning" asp-controller="business" asp-action="editItem" id="catalogue-EditItem" asp-route-id="@item.ItemId">Edit</a>
                                <a class="btn btn-width btn-danger" asp-controller="business" asp-action="removeItem" id="catalogue-DeleteItem" asp-route-id="@item.ItemId">Remove</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<div class="container container-fluid justify-content-center">
                <div class="row justify-content-between">
                    <a class="btn btn-sm btn-light border-secondary @(hasPrev?null:"disabled")" asp-action="Catalogue" asp-route-page="@(page-1)" asp-route-filter="@(activeFilter)" asp-route-perPage="">@("<Prev Page")</a>
                    <span class="text-secondary">Page @(page) / @(totalPage)  <small>(@(perPage) Per Page)</small></span>
                    <a class="btn btn-sm btn-light border-secondary @(hasNext?null:"disabled")" asp-action="Catalogue" asp-route-page="@(page+1)" asp-route-filter="@(activeFilter)">@("Next Page>")</a>
                </div>
            </div>
            <hr />*@
        <div class="container container-fluid justify-content-center">
            <div class="row justify-content-between">
                <a class="btn btn-sm btn-light border-secondary @(hasPrev?null:"disabled")" asp-action="Catalogue" asp-route-page="@(page-1)" asp-route-filter="@(activeFilter)" asp-route-perPage="@(perPage)">@("<Prev Page")</a>
                @*<span class="text-secondary">
                        Page @(page) / @(totalPage)
                    </span>*@
                <span>
                    <form class="col" method="GET" asp-action="Catalogue" asp-route-page="@(page)" asp-route-filter="@(activeFilter)">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <label class="input-group-text bg-light border-secondary">
                                    Page @(page) / @(totalPage)
                                </label>
                            </div>
                            <select name="perPage" id="perPage" class="custom-select bg-light border-secondary" style="max-width: 200px;" onchange="submit();">
                                @if (perPage == 5)
                                {
                                    <option value="5" selected>5 Per Page</option>
                                }
                                else
                                {
                                    <option value="5">5 Per Page</option>
                                }
                                @if (perPage == 10)
                                {
                                    <option value="10" selected>10 Per Page</option>
                                }
                                else
                                {
                                    <option value="10">10 Per Page</option>
                                }
                                @if (perPage == 25)
                                {
                                    <option value="25" selected>25 Per Page</option>
                                }
                                else
                                {
                                    <option value="25">25 Per Page</option>
                                }
                                @if (perPage == 50)
                                {
                                    <option value="50" selected>50 Per Page</option>
                                }
                                else
                                {
                                    <option value="50">50 Per Page</option>
                                }
                                @if (perPage == 100)
                                {
                                    <option value="100" selected>100 Per Page</option>
                                }
                                else
                                {
                                    <option value="100">100 Per Page</option>
                                }
                            </select>
                            @*<div class="input-group-append">
                                    <label class="input-group-text bg-light border-secondary">Per Page</label>
                                </div>*@
                        </div>
                    </form>
                </span>
                <a class="btn btn-sm btn-light border-secondary @(hasNext?null:"disabled")" asp-action="Catalogue" asp-route-page="@(page+1)" asp-route-filter="@(activeFilter)" asp-route-perPage="@(perPage)">@("Next Page>")</a>
            </div>
        </div>
        <hr />
        <div class="container container-fluid justify-content-center">
            <div class="row justify-content-between">
                <a class="btn btn-sm btn-secondary" asp-action="Index">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>
