@model IEnumerable<KurbSide.Models.Order>

@{
    ViewData["Title"] = "All Orders Report";
    var businessId = (Guid) TempData["businessId"];
}


<vc:business-head/>
<div>
    @* Button for downloading a pdf *@
    <a id="btnDownloadReport" class="btn btn-primary" asp-action="CreateReports" asp-route-pdfName="AllOrdersReport">Download PDF</a>
    <br/>
    <br/>
    @* Table for item for report listings *@
    <table class="table table-responsive-sm">
        <thead>
        <th scope="col">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Member.LastName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.GrandTotal)
        </th>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr id="orderReport-@order.OrderId">
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => order.OrderId)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => order.Member.FirstName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => order.Member.LastName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => order.CreationDate)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => order.StatusNavigation.StatusName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => order.GrandTotal)
                </td>


            </tr>
        }

        </tbody>

    </table>
    <hr/>
    <div class="container container-fluid justify-content-center">
        <div class="row justify-content-between">
            <a class="btn btn-sm btn-secondary" asp-controller="Reports" asp-action="ViewAllReportList">Back to Dashboard</a>
        </div>
    </div>


</div>