@model IEnumerable<KurbSide.Models.Item>

@{
    var businessId = (Guid)TempData["businessId"];
}

@* Stlyes for the barcode and qrcode *@
<style>
        .barcode {
            height: 1.5em;
            width: 6em;
            margin-bottom: .2em;
            image-rendering: auto;
            image-rendering: -moz-crisp-edges;
            image-rendering: pixelated;
        }
    
        .qrcode {
            height: 1.5em;
            width: 1.5em;
            margin-bottom: .2em;
            image-rendering: auto;
            image-rendering: -moz-crisp-edges;
            /*image-rendering: pixelated;*/
        }
</style>


@* Buisness head display *@
<vc:business-head/>

@* Lets the buisness determine which items to show *@
<div>
    @* Table for item for report listings *@
    <table class="table table-responsive-sm">
        <thead>
        <th scope="col">
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Sku)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Upc)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Removed)
        </th>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr id="reportItem-@item.ItemName">
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="align-middle">
                    <img class="@(item.Sku == null ? "none" : "qrcode")" src="https://bwip-js.herokuapp.com/?bcid=datamatrix&text=@item.Sku"/>
                    @item.Sku
                </td>
                <td class="align-middle">
                    <span class="@(item.Upc == null ? "none" : null)">
                        @if (item.Upc != null)
                        switch (item.Upc.Length)
                        {
                        case 13:
                        <img class="barcode" src="https://bwip-js.herokuapp.com/?bcid=ean13&text=@item.Upc"/>
                        <br/>
                        break;
                        default:
                        <img class="barcode" src="https://bwip-js.herokuapp.com/?bcid=upca&text=@item.Upc"/>
                        <br/>
                        break;
                        }
                    </span>
                    @item.Upc
                </td>
                <td class="align-middle">
                    @item.Removed
                </td>
            </tr>
        }


        </tbody>


    </table>
    <a id="btnDownloadGameListReport" class="btn btn-primary" asp-action="CreateItemsReportsPdf" asp-route-pdfName="RemovedItemsReport" asp-route-businessId="@businessId">Download PDF</a>

</div>