@model IEnumerable<Item>
@{
    ViewData["Title"] = "Business Catalogue";

    var rawCategories = (IEnumerable<string>)TempData["itemCategories"];
    var rawFilter = (string)TempData["catalogueFilter"];

    var categories = new List<string>();
    var activeFilter = "";

    if (rawCategories != null)
    {
        categories.AddRange(rawCategories);
    }
    if (rawFilter != null)
    {
        activeFilter = rawFilter;
    }
}
<style>
    .barcode {
        height: 1.5em;
        width: 6em;
        margin-bottom: .2em;
        image-rendering: auto;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
    }

    .qrcode {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: .2em;
        image-rendering: auto;
        image-rendering: -moz-crisp-edges;
        /*image-rendering: pixelated;*/
    }

    .none {
        display: none;
        height: 0;
        height: 0;
    }

    .btn-width {
        min-width: 6em;
    }

    .btn-filter {
        min-width: 10em;
    }
</style>

<vc:business-head />

<div class="card">
    <div class="card-body row">
        <div class="col">
            <div class="btn-group btn-group-sm">
                <a class="btn btn-sm btn-dark btn-filter" asp-action="Catalogue">@((activeFilter!="")? "Clear Filter" : "Filter By Category") </a>
                @foreach (string category in categories)
                {
                    <a class="btn btn-sm btn-light border-secondary @(category.Equals(activeFilter)? "active" : null)" asp-route-filter="@category">@category</a>
                }
                @if (categories.Count <= 0)
                {
                    <span class="btn btn-sm btn-outline-light active border-secondary">No Categories</span>
                }
            </div>
        </div>
        <form class="col" method="GET" asp-action="Catalogue">
            <div class="input-group input-group-sm">
                <input type="text" id="filter" name="filter" class="form-control border-secondary" placeholder="Search Items" value="@activeFilter">
                <div class="input-group-append">
                    <input type="submit" class="input-group-text btn-dark text-light bg-dark border-dark" id="btnGroupAddon" value="Search" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm">
            <thead class="">
                <tr>
                    @*<th scope="col">
                            @Html.DisplayNameFor(modelItem => modelItem.ItemId)
                        </th>*@
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.ItemName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.Price)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.Category)
                    </th>
                    @*<th scope="col">
                            @Html.DisplayNameFor(modelItem => modelItem.Details)
                        </th>*@
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.Sku)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(modelItem => modelItem.Upc)
                    </th>
                    <th scope="col">
                        <a asp-controller="business" asp-action="addItem" class="btn btn-sm btn-success btn-width" id="catalogue-AddItem">New Item</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item item in Model)
                {
                    <tr>
                        @*<td class="align-middle">
                                @item.ItemId
                            </td>*@
                        <td class="align-middle" id="catalogue-allItems">
                            @item.ItemName
                        </td>
                        <td class="align-middle">
                            $@item.Price
                        </td>
                        <td class="align-middle">
                            @item.Category
                        </td>
                        @*<td class="align-middle">
                                @item.Details
                            </td>*@
                        <td class="align-middle">
                            <img class="@(item.Sku == null ? "none":"qrcode")" src="https://bwipjs-api.metafloor.com/?bcid=datamatrix&text=@item.Sku" />
                            @item.Sku
                        </td>
                        <td class="align-middle">
                            <img class="@(item.Upc == null ? "none":"barcode")" src="https://bwipjs-api.metafloor.com/?bcid=upca&text=@item.Upc" />
                            <br />@item.Upc
                        </td>
                        <td class="align-middle">
                            <div class="btn-group-vertical btn-group-sm">
                                <a class="btn btn-width btn-warning" asp-controller="business" asp-action="editItem" id="catalogue-EditItem" asp-route-id="@item.ItemId">Edit</a>
                                <a class="btn btn-width btn-danger" asp-controller="business" asp-action="removeItem" id="catalogue-DeleteItem" asp-route-id="@item.ItemId">Remove</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="container container-fluid justify-content-center">

            <div class="row justify-content-between">
                <a class="btn btn-sm btn-secondary" asp-action="Index">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>
