@model IEnumerable<Item>
@{
    ViewData["Title"] = "Business Catalogue";
}
<style>
    .barcode {
        height: 1.5em;
        width: 6em;
        margin-bottom: .2em;
    }

    .qrcode {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: .2em;
    }

    .none {
        display: none;
        height: 0;
        height: 0;
    }

    .btn{
        min-width: 6em;
    }
</style>
<table class="table table-responsive-sm">
    <thead class="thead-light">
        <tr>
            @*<th scope="col">
                @Html.DisplayNameFor(modelItem => modelItem.ItemId)
            </th>*@
            <th scope="col">
                @Html.DisplayNameFor(modelItem => modelItem.ItemName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(modelItem => modelItem.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(modelItem => modelItem.Category)
            </th>
            @*<th scope="col">
                @Html.DisplayNameFor(modelItem => modelItem.Details)
            </th>*@
            <th scope="col">
                @Html.DisplayNameFor(modelItem => modelItem.Sku)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(modelItem => modelItem.Upc)
            </th>
            <th scope="col">
                <a asp-controller="business" asp-action="addItem" class="btn btn-sm btn-success">New Item</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Item item in Model)
        {
        <tr>
            @*<td class="align-middle">
            @item.ItemId
        </td>*@
            <td class="align-middle">
                @item.ItemName
            </td>
            <td class="align-middle">
                $@item.Price
            </td>
            <td class="align-middle">
                @item.Category
            </td>
            @*<td class="align-middle">
            @item.Details
        </td>*@
            <td class="align-middle">
                <img class="@(item.Sku == null ? "none":"qrcode")" src="https://bwipjs-api.metafloor.com/?bcid=microqrcode&text=@item.Sku" />
                @item.Sku
            </td>
            <td class="align-middle">
                <img class="@(item.Upc == null ? "none":"barcode")" src="https://bwipjs-api.metafloor.com/?bcid=upca&text=@item.Upc" />
                <br />@item.Upc
            </td>
            <td class="align-middle">
                <div class="btn-group-vertical btn-group-sm">
                    <a class="btn btn-warning" asp-controller="business" asp-action="editItem" asp-route-id="@item.ItemId">Edit</a>
                    <a class="btn btn-danger" asp-controller="business" asp-action="removeItem" asp-route-id="@item.ItemId">Remove</a>
                </div>

            </td>
        </tr>
        }
    </tbody>
</table>