@model IEnumerable<Item>
@{
    ViewData["Title"] = "Business Catalogue";
}
<style>
    .barcode {
        height: 1.6em;
        width: 8em;
        margin-bottom: .2em;
    }
    .qrcode {
        height: 1.6em;
        width: 1.6em;
        margin-bottom: .2em;
    }
    .none {
        display: none;
        height: 0;
        height: 0;
    }
</style>
@foreach (Item item in Model)
{
    <b>@Html.DisplayNameFor(modelItem => item.ItemId)</b>
    <i>@Html.DisplayFor(modelItem => item.ItemId)</i>
    <br />
    <b>@Html.DisplayNameFor(modelItem => item.ItemName)</b>
    <i>@Html.DisplayFor(modelItem => item.ItemName)</i>
    <br />
    <b>@Html.DisplayNameFor(modelItem => item.Category)</b>
    <i>@Html.DisplayFor(modelItem => item.Category)</i>
    <br />
    <b>@Html.DisplayNameFor(modelItem => item.Upc)</b>
    <i>@Html.DisplayFor(modelItem => item.Upc)</i>
    <img class="@(item.Upc == null ? "none":"barcode")" src="https://bwipjs-api.metafloor.com/?bcid=upca&text=@item.Upc" />
    <br />
    <b>@Html.DisplayNameFor(modelItem => item.Sku)</b>
    <i>@Html.DisplayFor(modelItem => item.Sku)</i>
    <img class="@(item.Sku == null ? "none":"qrcode")" src="https://bwipjs-api.metafloor.com/?bcid=microqrcode&text=@item.Sku" />
    <br />
    <b>@Html.DisplayNameFor(modelItem => item.Price)</b>
    <i>@Html.DisplayFor(modelItem => item.Price)</i>
    <br />
    <b>@Html.DisplayNameFor(modelItem => item.Details)</b>
    <i>@Html.DisplayFor(modelItem => item.Details)</i>
    <br />
    @*<b>@Html.DisplayNameFor(modelItem => item.ImageLocation)</b>
    <i>@Html.DisplayFor(modelItem => item.ImageLocation)</i>
    <br />*@
    <hr />
}

<a asp-controller="business" asp-action="addItem" class="btn btn-sm btn-success">Add Item (WIP)</a>