@using KurbSideUtils
@model IEnumerable<Order>
@{
    ViewData["Title"] = "Business Orders";

    var rawCategories = (IEnumerable<string>) TempData["status"];
    var rawFilter = (string) TempData["filter"];

    var categories = new List<string>();
    var activeFilter = "";

    var page = (int) TempData["currentPage"];
    var perPage = (int) TempData["perPage"];
    var totalPage = (int) TempData["totalPage"];
    var hasNext = (bool) TempData["hasNextPage"];
    var hasPrev = (bool) TempData["hasPrevPage"];

    if (rawCategories != null)
    {
        categories.AddRange(rawCategories);
    }
    if (rawFilter != null)
    {
        activeFilter = rawFilter;
    }
}

<vc:business-head/>

<div class="card">
    <div class="card-body row">
        <div class="col">
            <div class="btn-group btn-group-sm" style="flex-wrap: wrap; ">
                <a class="btn btn-sm btn-dark btn-filter rounded" style="margin: 1px 1px 3px 1px;" asp-action="Orders" asp-route-perPage="@(perPage)">@(activeFilter != "" ? "Clear Filter" : "Filter By Category") </a>
                @foreach (var category in categories)
                {
                    <a class="btn btn-sm btn-light border-secondary rounded @(category.Equals(activeFilter) ? "active" : null)" style="margin:1px 1px 3px 1px;" asp-route-filter="@category" asp-route-perPage="@(perPage)">@category</a>
                }
                @if (categories.Count <= 0)
                {
                    <span class="btn btn-sm btn-outline-light active border-secondary rounded" style="margin:1px 1px 3px 1px; opacity: 0.50;">No Categories</span>
                }
            </div>
        </div>
        <form class="col" method="GET" asp-action="Orders">
            <div class="input-group input-group-sm">
                <input type="text" id="filter" name="filter" class="form-control border-secondary" placeholder="Search Orders" autocomplete="off" value="@activeFilter">
                <div class="input-group-append">
                    <input type="submit" class="input-group-text btn-dark text-light bg-dark border-dark" id="btnGroupAddon" value="Search"/>
                </div>
                @if (!string.IsNullOrWhiteSpace(activeFilter))
                {
                    <div class="input-group-append">
                        <a asp-action="Orders" class="input-group-text btn btn-dark text-light bg-danger border-dark">Clear Search</a>
                    </div>
                }
            </div>
        </form>
    </div>
    <div class="card-body row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Short Order No.
                </th>
                <th scope="col">
                    Member Name
                </th>
                <th scope="col">
                    SubTotal
                </th>
                <th scope="col">
                    Status
                </th>
            </tr>
            </thead>
            <style>
                tr.hover-controls {
                    display: none;
                    margin: auto;
                }
                tr.hover-controls > td{
                    padding-top: 0;
                    border: 0;
                }
                tr.hover-controls:hover,
                tr:not(.hover-controls):hover + tr.hover-controls {
                    display: table-row;
                }
            </style>
            <tbody>
            @foreach (var order in Model)
            {
                <form method="post" asp-controller="Order" asp-action="UpdateStatus">
                </form>
                <tr>
                    <td>
                        @order.CreationDate.ToString("d")
                    </td>
                    <td>
                        @order.OrderId.ToString().Substring(order.OrderId.ToString().Length - 6).ToUpper()
                    </td>
                    <td>
                        @(order.Member.FirstName + " " + order.Member.LastName)
                    </td>
                    <td>
                        @order.SubTotal
                    </td>
                    <td style="width: 1px">
                        <span style="width: 10rem;" class="btn disabled btn-block btn-@order.StatusNavigation.BootstrapClass">@order.StatusNavigation.StatusName</span>
                    </td>
                </tr>
                <tr class="hover-controls text-center align-middle">
                    <td colspan="100">
                        <span class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-dark disabled">
                                <span>Quick Actions:</span>
                            </label>
                            <label class="btn btn-outline-primary active disabled">
                                <input type="radio" name="status" id="status1" autocomplete="off" value=""> Pending
                            </label>
                            <label class="btn btn-outline-warning">
                                <input type="radio" name="status" id="status1" autocomplete="off" value=""> Accepted
                            </label>
                            <label class="btn btn-outline-info">
                                <input type="radio" name="status" id="status2" autocomplete="off"> Preparing
                            </label>
                            <label class="btn btn-outline-success">
                                <input type="radio" name="status" id="status3" autocomplete="off"> Ready For Pickup
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="status" id="status3" autocomplete="off"> Picked Up
                            </label>
                            <label class="btn btn-outline-danger">
                                <input type="radio" name="status" id="status3" autocomplete="off"> Cancel
                            </label>
                        </span>
                        <small class="d-block w-100 text-center p-1">These Actions are Permanent and will Notify the Customer.</small>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="container container-fluid justify-content-center">
            <div class="row justify-content-between">
                <a class="btn btn-sm btn-light border-secondary @(hasPrev ? null : "disabled")" asp-action="Orders" asp-route-page="@(page - 1)" asp-route-filter="@(activeFilter)" asp-route-perPage="@(perPage)">@("<Prev Page")</a>
                <span>
                    <form class="col" method="GET" asp-action="Orders" asp-route-page="@(page)" asp-route-filter="@(activeFilter)">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <label class="input-group-text bg-light border-secondary">
                                    Page @(page) / @(totalPage)
                                </label>
                            </div>
                            <select name="perPage" id="perPage" class="custom-select bg-light border-secondary" style="max-width: 200px;" onchange="submit();">
                                @if (perPage == 5)
                                {
                                    <option value="5" selected>5 Per Page</option>
                                }
                                else
                                {
                                    <option value="5">5 Per Page</option>
                                }
                                @if (perPage == 10)
                                {
                                    <option value="10" selected>10 Per Page</option>
                                }
                                else
                                {
                                    <option value="10">10 Per Page</option>
                                }
                                @if (perPage == 25)
                                {
                                    <option value="25" selected>25 Per Page</option>
                                }
                                else
                                {
                                    <option value="25">25 Per Page</option>
                                }
                                @if (perPage == 50)
                                {
                                    <option value="50" selected>50 Per Page</option>
                                }
                                else
                                {
                                    <option value="50">50 Per Page</option>
                                }
                                @if (perPage == 100)
                                {
                                    <option value="100" selected>100 Per Page</option>
                                }
                                else
                                {
                                    <option value="100">100 Per Page</option>
                                }
                            </select>
                        </div>
                    </form>
                </span>
                <a class="btn btn-sm btn-light border-secondary @(hasNext ? null : "disabled")" asp-action="Orders" asp-route-page="@(page + 1)" asp-route-filter="@(activeFilter)" asp-route-perPage="@(perPage)">@("Next Page>")</a>
            </div>
        </div>
    </div>
</div>