@model IEnumerable<Order>
@{
    ViewData["Title"] = "Business Orders";

    var rawFilter = (string)TempData["catalogueFilter"];

    var activeFilter = "";

    // var page = (int)TempData["currentPage"];
    // var perPage = (int)TempData["perPage"];
    // var totalPage = (int)TempData["totalPage"];
    // var hasNext = (bool)TempData["hasNextPage"];
    // var hasPrev = (bool)TempData["hasPrevPage"];
    
    if (rawFilter != null)
    {
        activeFilter = rawFilter;
    }
}

<vc:business-head />

<div class="card">
    <div class="card-body row">
        <form class="col" method="GET" asp-action="Orders">
            <div class="input-group input-group-sm">
                <input type="text" id="filter" name="filter" class="form-control border-secondary" placeholder="Search Orders" value="@activeFilter">
                <div class="input-group-append">
                    <input type="submit" class="input-group-text btn-dark text-light bg-dark border-dark" id="btnGroupAddon" value="Search" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-body row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">
                    Short Order No.
                </th>
                <th scope="col">
                    Member Name
                </th>
                <th scope="col">
                    SubTotal
                </th>
                <th scope="col">
                    Status
                </th>
            </tr>
            </thead>
            <style>
                tr.hover-controls {
                    display: none;
                    margin: auto;
                }
                tr.hover-controls:hover,
                tr:not(.hover-controls):hover + tr.hover-controls {
                    display: table-row;
                }
            </style>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <form method="post" asp-controller="Order" asp-action="UpdateStatus">
                            <td>
                                @order.OrderId.ToString().Substring(order.OrderId.ToString().Length - 6).ToUpper()
                            </td>
                            <td>
                                @(order.Member.FirstName + " " + order.Member.LastName)
                            </td>
                            <td>
                                @order.SubTotal
                            </td>
                            <td style="width: 1px">
                                <span style="width: 10rem;" class="btn disabled btn-block btn-@order.StatusNavigation.BootstrapClass">@order.StatusNavigation.StatusName</span>
                            </td>
                        </form>
                    </tr>
                    <tr class="hover-controls text-center align-middle bg-light">
                        <td colspan="4">
                            <span class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-secondary active disabled">
                                    <input type="radio" name="status" id="status1" autocomplete="off" value=""> Pending
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="status" id="status1" autocomplete="off" value=""> Accepted
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="status" id="status2" autocomplete="off"> Preparing
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="status" id="status3" autocomplete="off"> Ready For Pickup
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="status" id="status3" autocomplete="off"> Picked Up
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="status" id="status3" autocomplete="off"> Cancel
                                </label>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>