@model Cart
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<div class="col-sm-3">
    <div id="cartCard" class="card">
        @if (Model != null)
        {
            <div class="card-header">
                <span>@Model.Business.BusinessName Cart</span>
            </div>

            <ul id="cartItems" class="list-group" style="max-height: 50vh; overflow-y: auto;">
                @foreach (var item in Model.CartItem)
                {
                    var itemtotal = (item.Item.Price.Value * item.Quantity);
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        <small>
                            <span class="badge badge-pill badge-dark" style="max-width: 3em;">
                                @*@item.Quantity*@
                                <form asp-controller="Order" asp-action="CartUpdate">
                                    <input type="hidden" name="id" value="@item.ItemId" />
                                    <input style="max-width: 1.5em; text-align: center; -moz-appearance: textfield;" class="bg-transparent border-0 my-0 p-0 text-white" type="text" name="q" value="@item.Quantity" onchange="submit();" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                </form>
                            </span>
                            <span class="badge badge-success">@(itemtotal.ToString("$#0.00"))</span><br />
                            @item.Item.ItemName
                        </small>
                        <form method="POST" asp-controller="Order" asp-action="CartRemove" style="margin-left: .5em;" onsubmit="return confirm('Remove @(item.Item.ItemName)?')">
                            <input type="hidden" name="id" value="@item.ItemId" />
                            <button type="submit" name="submit" class="btn btn-sm btn-outline-danger" id="remove-from-cart-@item.Item.ItemName" title="Remove from Cart">
                                <i class="fa fa-trash fa-sm" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                }
            </ul>
            <div class="card-footer d-flex">
                <div class="btn-group btn-group-sm w-100">
                    <a id="checkout" asp-controller="Order" asp-action="Checkout" class="btn btn-sm btn-outline-primary w-100">Checkout</a>
                    <a id="clear-cart" asp-controller="Order" asp-action="CartClear" class="btn btn-sm btn-outline-danger w-50"  onclick="return confirm('Are you sure you want to clear your cart?')">Clear</a>
                </div>
            </div>
        }
        else
        {
            <div class="card-header">
            </div>
            <ul class="list-group">
                <li class="list-group-item border-0">
                    Your Cart Is Empty
                    <br />
                    <small><a asp-controller="Store" asp-action="Index">Select a store and add some products</a></small>
                </li>
            </ul>
            <div class="card-footer d-flex">
                <div class="btn-group btn-group-sm w-100">
                    <a href="#" class="btn btn-sm btn-outline-primary disabled w-100">Checkout</a>
                    <a href="#" class="btn btn-sm btn-outline-danger disabled w-50">Clear</a>
                </div>
            </div>
        }
    </div>
</div>


<script>
    (function ($) {
        var element = $('#cartCard'),
            originalY = element.offset().top;

        // Space between element and top of screen (when scrolling)
        var topMargin = 20;

        // Should probably be set in CSS; but here just for emphasis
        element.css('position', 'relative');

        $(window).on('scroll', function (event) {
            var scrollTop = $(window).scrollTop();

            element.stop(false, false).animate({
                top: scrollTop < originalY
                    ? 0
                    : scrollTop - originalY + topMargin
            }, 0);
        });
    })(jQuery);
</script>