@{ 
    //idk pretend these come from the orders or something.
    double first = DateTime.Now.TimeOfDay.Minutes;
    double second = DateTime.Now.TimeOfDay.Seconds;

    var ln1 = (string)TempData["ln1"];
    var ln2 = (string)TempData["ln2"];
    var ln3 = (string)TempData["ln3"];
    var ln4 = (string)TempData["ln4"];
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
</head>

<body>

    <p>@(ln1)</p>
    <p>@(ln2)</p>

    <form asp-controller="home" asp-action="paypaltest">
        <input type="text" name="address1" value="@(ln3)"/>
        <input type="text" name="address2" value="@(ln4)"/>
        <input type="submit" name="submit"/>
    </form>

    <hr />

    <script src="https://www.paypal.com/sdk/js?client-id=AUPzX4RZX9uXei_PDOlXbUg_6cY9O6lAHonu4R2h2-W07J77wpC6K3I39vVT6vFhI54uXtct5pQLuThz&currency=CAD">
    </script>

    <input type="number" id="first" value="@first" />
    <input type="number" id="second" value="@second"/>
    <br /><br />

    <div id="paypal-button-container"></div>

    <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: @(first + second/100)
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                // This function captures the funds and details from the transaction.
                return actions.order.capture().then(function (details) {
                    // https://developer.paypal.com/docs/checkout/reference/server-integration/get-transaction/
                    // This just shows a message saying it completed
                    alert('Transaction completed by ' + details.payer.name.given_name);
                });
            }
        }).render('#paypal-button-container');
    </script>
</body>